In [35]:
import pandas as pd
import numpy as np
titanic = pd.read_csv("titanic.csv")

In [36]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#Quantos passageiros sobreviveram?

In [37]:
sobreviventes = titanic['Survived'].sum()
print("Número de passageiros que sobreviveram:",sobreviventes)

Número de passageiros que sobreviveram: 342

#Qual a Idade média dos passageiros?

In [38]:
idade_media = titanic['Age'].mean()
print("Idade média dos passageiros:", '{0:.1f}'.format(idade_media))

Idade média dos passageiros: 29.7

#Quantos passageiros haviam em cada classe?

In [39]:
classe = titanic['Pclass'].value_counts()
print("Quantidade de passageiros por classe:")
print(classe)

Quantidade de passageiros por classe:
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

#Qual era o porto mais comum de se embarcar?

In [40]:
porto = titanic['Embarked'].mode()[0]
print("Porto de embarque mais comum:", porto)

Porto de embarque mais comum: S

#Quantos passageiros tinham parentes abordo?

In [41]:
parentes = titanic['SibSp'].sum()
print("Números de passageiros com parentes abordo:", parentes)

Números de passageiros com parentes abordo: 466

#Qual a passagem mais cara paga por um passageiro?

In [47]:
passagem = titanic['Fare'].max()
print("Passagem mais cara paga por um passageiro:", '{0:.2f}£'.format(passagem))

Passagem mais cara paga por um passageiro: 512.33£

#Quantos passageiros tinham pais ou criancas abordo?

In [43]:
familia = titanic['Parch'].sum()
print("Quantos passageiros tinham pais ou criancas abordo:", familia)

Quantos passageiros tinham pais ou criancas abordo: 340

#Qual a distribuicao de genênero entre os passageiros?

In [44]:
sexo = titanic['Sex'].value_counts()
print("Qual a distribuicao de genênero entre os passageiros:")
print(sexo)

Qual a distribuicao de genênero entre os passageiros:
Sex
male      577
female    314
Name: count, dtype: int64

#Qual o preco médio das passagens por classe?

In [45]:
preco_classe = titanic.groupby('Pclass')['Fare'].mean()
print("Preco médio das passagens por classe?:")
print(preco_classe)

Preco médio das passagens por classe?:
Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

#Quantas cabines estavam ocupadas?

In [46]:
cabines = titanic['Cabin'].nunique()
print("Cabines ocupadas:", cabines)

Cabines ocupadas: 147